body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; 
    color: #e0e0e0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

#menu, #sala, #sesiones {
    padding: 20px;
    background-color: #333; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

h1, h2 {
    margin-top: 0;
    color: #cca300; 
}

button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #b38600; 
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 8px;
    text-transform: uppercase;
}

button:hover {
    background-color: #996300;
}

form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: calc(100% - 100px);
    padding: 12px;
    font-size: 16px;
    border: 1px solid #666; 
    border-radius: 6px;
    margin-right: 10px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100px;
}

#preguntas {
    margin-top: 20px;
    text-align: left;
}

#preguntas div {
    margin-bottom: 10px;
    padding: 12px;
    background-color: #2b2b2b; 
    border-radius: 6px;
}

.lista-sesiones {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sesion {
    background-color: #333; 
    border: 1px solid #666; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.sesion:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.sesion h2 {
    margin-top: 0;
    color: #cca300;
}

.sesion p {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0 0 0;
}

.mensaje {
    background-color: #5c5c33; 
    border: 1px solid #857e59; 
    border-radius: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s, border-color 0.3s;
}

.mensaje:hover {
    background-color: #736b3f;
    border-color: #8c8253; 
}

#eliminarSalaPrompt {
    display: none;
    text-align: center;
}

h3 {
    color: #ccc;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

h4 {
    color: #999; 
    font-size: 1.4rem;
    margin-bottom: 20px;
}
